body {
    background: #cccccc;
}

#banner {
    width: 100%;
}

h1 {
    text-align: center;
    height: 130px;
    border: 10px solid black;
    padding: 20px;
    margin-left: 40px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
    text-align: center;
}

em strong {
    color: red;
}